$DOMAIN:4566 {
  reverse_proxy $ANSIBLE_NODE_HOST:4566 {
    header_up Host {host} # redundant
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}  # redundant
    header_up X-Forwarded-Port {server_port} # redundant
    header_up X-Forwarded-Proto {scheme}
  }
}
